
@import "reset.css";

/*通过自定义字体来定义图标*/
@font-face {
    font-family: 'iconfont';
    /*使用src属性引入字体文件，客户端访问时会下载到客户端本地。
    * 多个文件是为了兼容跟多的浏览器。
    *  woff为网页开发的字体，尺寸小，加载快。
    *  eot为ie私有格式。
    *  ttf是windows和mac的系统字体，比较大，加载慢，ie9+支持。
    *  svg是一种图形技术，可以画任意形状图形，但不是图片，可以修改大小颜色，放大后不失帧，ie9+支持。
    * format参数可选，用于标记字体格式，方便浏览器选择是否加载对应字体。标记字体，浏览器就可以选择不加载不支持的字体了。
    */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

/*定义iconfont的样式*/
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;/*字体抗锯齿渲染，针对webkit引擎，非标准样式*/
    -moz-osx-font-smoothing: grayscale;/*字体抗锯齿渲染，针对moz-osx引擎，非标准样式*/
}

/*头部信息样式*/
#headMsg li {
    float: left;
    line-height: 35px;
    padding: 0 6px;
    /*避免li下的行级子标签换行后有空格，例如span标签。
    子标签需要重新设置字体大小，容器间空格自己控制，不适用默认的分隔方式，默认分隔方式受字体大小影响*/
    font-size: 0;
}

#headMsg a{
    color: #6c6c6c;
    font-size: 12px;/*父级标签li为了避免行级标签换行后有空格，将字体大小设置为0。这里子标签显示字符时重新设置字体大小*/
}
#headMsg a.login{
    color: #f22e00;
}
#headMsg span {
    font-size: 12px;
}
/*箭头与文件间距离7px*/
#headMsg span.arrow {
    margin-left: 7px;
}
/*设置购物车数量字体大小和颜色*/
#headMsg li strong {
    font-size: 12px;
    color: #f22e00;
}

#headMsg li a:hover {
    color: #f49;
}
#headMsg li.line {
    font-size: 12px;
    color: #ddd;
    padding: 0 5px;
}



/*头部广告*/
#headAd{
    background-color: #f12f04;
}
#headAd .go {
    display: block;
    padding: 10px 10px 10px 15px;
}
#headAd .go img {
    width: 80px;
    height: 80px;
}

#headAd ul {
    padding-top: 13px;
}
#headAd li {
    float: left;
    width: 180px;
    height: 75px;
    margin-right: 10px;
    padding: 12px 15px 0 15px;
    box-sizing: border-box; /*使用ie盒模型，避免计算宽高*/
}
#headAd li h3 {
    font-size: 20px;
    line-height: 28px;
}
#headAd li p {
    font-size: 14px;
    line-height: 20px;
}
#headAd li a {
    color: #fff;
    display: block;/*增大a标签的触发面积*/
}
#headAd li a img {
    width: 52px;
    height: 52px;
    border-radius: 5px;
}

/*头部搜索*/
#headSearch {
    background-color: #fff;
    padding: 24px 0 10px 0;
}
#headSearch h1 a {
    display: block;
    width: 190px;
    height: 58px;
    background: url("../image/logo.png") center no-repeat;
    /*以图换字*/
    text-indent: -9999px;/*首行缩进*/
    overflow: hidden;
    margin-top: 8px;
}

#headSearch .code {
    width: 72px;
    height: 86px;
    border: 1px solid #eee;
    position: relative;
    margin-right: 110px;
    text-align: center;
}
#headSearch .code img {
    width: 62px;
    height: 62px;
}
#headSearch .close {
    position: absolute;
    left: -16px;
    top: -1px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    font-size: 14px;
    border: 1px solid #eee;
    color: #ddd;
    cursor: pointer;
}

#headSearch .search {
    width: 630px;
    margin: 0 auto;
}
#headSearch .searchTab {
    height: 22px;
    padding-left: 17px;
}
#headSearch .searchTab li{
    float: left;
    width: 36px;
    line-height: 22px;
    margin-right: 4px;
    text-align: center;
    color: #f40;
    cursor: pointer;
}
#headSearch .searchTab li:hover {
    background-color: #ffeee5;
}
#headSearch .searchTab li.active {
    color: #fff;
    font-weight: bold;
    /*渐变背景颜色*/
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    /*兼容ie8的渐变背景颜色*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000',
    endColorstr='#ffff5000', GradientType=1);
    border-radius: 6px 6px 0 0;
}

#headSearch .searchContent {
    height: 40px;
}
#headSearch .searchBox {
    width: 554px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #ff5000;
    border-right: none;
    border-radius: 20px 0 0 20px;
    overflow: hidden;
    position: relative;
}
#headSearch .searchBox input {
    width: 490px;
    height: 36px;
    line-height: 36px;
    /*去掉边框*/
    outline: none;
    border: none;
    text-indent: 10px;

    position: absolute;
    z-index: 2;
    background-color: transparent;
}
#headSearch .placeholder {
    position: absolute;
    top: 6px;
    left: 14px;
}
#headSearch .placeholder span {
    color: #9c9c9c;
    vertical-align: 1px;
}
#headSearch .imgSearch {
    font-size: 28px;
    color: #9c9c9c;
    position: absolute;
    right: 20px;
    top: -2px;
    cursor: pointer ;
}
#headSearch .searchContent button {
    width: 76px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    /*渐变背景颜色*/
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    /*兼容ie8的渐变背景颜色*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000',
    endColorstr='#ffff5000', GradientType=1);
}
#headSearch .hotKey {
    height: 25px;
    line-height: 25px;
}
#headSearch .hotKey a:hover{
    color: #f50;
}


/*导航*/
#nav h2 {
    width: 190px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: #f50;
}

#nav ul {
    margin-left: 190px;
    height: 30px;
    /*width: 1000px;
    width: calc(100% - 190px);!*使用计算函数计算宽度，支持ie9+,不支持时使用上面width直接赋值的样式 *!
    */
    /*渐变背景颜色*/
    background-image: linear-gradient(to right, #ff9000, #ff5000);
    /*兼容ie8的渐变背景颜色*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff9000',
    endColorstr='#ffff5000', GradientType=1);

}
#nav ul li {
    float: left;
    line-height: 30px;
    margin: 0 7px;
    font-size: 14px;
    color: #fff;
    padding: 0 5px;
    position: relative;
}
#nav ul li.size {
    font-size: 16px;
}
#nav ul li a {
    color: #fff;
    font-weight: bold;
}
#nav ul li.line {
    margin: 0;
    padding: 0;
}
#nav ul li a:hover:before {
    content: '';
    position: absolute;
    width: 23px;
    height: 13px;
    background-image: url("../image/ico_02.gif");

    top: -13px;
    left: 50%;
    margin-left: -12px;
}



/*首屏内容*/
.firstScreenLeft {
    width: 890px;
}
/*侧边导航*/
.firstScreenLeft .sideNav {
    width: 190px;
    height: 522px;
    background: #fff;
    border: 1px solid #ff5000;
    box-sizing: border-box;
    border-top: none;
    padding-top: 5px;
}
.firstScreenLeft .sideNav li {
    height: 32px;
    line-height: 32px;
    padding-left: 25px;
    transition: background-color 0.3s;/*css3过度属性*/
}

.firstScreenLeft .sideNav li a {
    font-size: 14px;
}
.firstScreenLeft .sideNav li span {
    font-size: 12px;
    color: #999;
    margin-right: 5px;
}
.firstScreenLeft .sideNav li:hover {
    background: #ffe4dc;
    color: #f50;
}
.firstScreenLeft .sideNav li:hover a {
    color: #f50;
}
.firstScreenLeft .sideNav a:hover {
    text-decoration: underline;
}
/*图片1容器*/
.img1Box {
    width: 690px;
    height: 282px;
    background: #eee;
}
/*图片2容器*/
.img2Box {
    width: 690px;
    height: 230px;
    background: #ccc;
    margin-top: 10px;
}
/*淘宝头条*/
.news {
    width: 890px;
    height: 100px;
    background: #999;
}

/*右边内容*/
.firstScreenRight {
    width: 290px;
    height: 621px;
    background: #9c9c9c;
}


